spring:
  profiles:
    active: dao
  application:
    name: hcc-config-center-server

server:
  port: ${config.center.webPort}
  servlet:
    context-path: /config-center

config:
  center:
    webPort: 8088
    serverPort: 8089
    zkAddress: 127.0.0.1:2181
    zkNamespace: hcc-config-center
    zkSessionTimeOut: 5000
# debug: true